.service_card {
    align-items: center;
    padding: 0px;
    gap: 0px;
}
.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}
.img_card {
    height: 15vw;
    min-height: 290px;
    max-height: 580px;
}
.title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding: 12px;
    color: #26262c;
    text-shadow: 2px 2px 3px rgb(204, 204, 206);
}
