.containerr {
    padding: 0px; margin: 0px;
    background-color: #26262c;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 6vw 8vw;
}

