
      <footer>
        <div class="col-sm-12 col-md-4 footer_images" >
            <img src="assets/images/logo.png" class="footer_img">
            <p class="footer_desc">مؤسسة
                 ماجد سوفت لتقنية نظم المعلومات هي مؤسسة توفر لك مجموعة متكاملة من الحلول لإدارة
                 وتخطيط الموارد الخاصة بشركتك وأعمالك المهنية بما فيها الإدارة المالية والقانونية
                 والموارد البشرية والموازنات والمبيعات والكاشير وغيرها الكثير من الأدوات</p>
                 <div class="social-links d-flex mt-2">
                    <a href="#" aria-label="twitter" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" aria-label="facebook" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" aria-label="instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" aria-label="linkedin" class="linkedin"><i class="bi bi-whatsapp"></i></a>
                  </div>
        </div>
        <div class="col-sm-12 col-md-7 footer_sections" >
            <div class="col-sm col-lg-2">
                <h1 class="footer_title">روابط مفيده</h1>
                <a>الرئيسيه</a>
                <a>من نحن</a>
                <a>خدماتنا</a>
                <a>برامجنا</a>
                <a>تواصل معنا</a>
            </div>
            <div class="col-sm col-lg-3">
                <h1 class="footer_title">خدماتنا</h1>
                <a>خدمات الهوست والإستضافه</a>
                <a>تصميم المواقع الإلكترونيه</a>
                <a> تصميم البرامج المحاسبيه</a>
                <a>تصميم برامج الجوال </a>
                <a>التسويق الإلكتروني</a>
            </div>
            <div class="col-sm col-lg-5">
                <h1 class="footer_title">اتصل بنا</h1>
                <a>المدينه المنوره</a>
                <a> طريق الامير عبد المحسن قربان الطالع</a>
                <a>عمارة العييري</a>
                <a>المملكه العربيه السعوديه</a>
                <a><strong class="white">هاتف :</strong>  0541347795 - 0570150407</a>
                <a><strong class="white">البريد الالكتروني :</strong> info&#64;gts-sa.com </a>
            </div>
        </div>
    </footer>