<div class="main_img" id="home">
    <img src="assets/images/home-img.jpg" alt="abs card" class="img" />
    <div class="black_gradient"></div>

    <diV class="main_text">
        <h1 class="main_title">برنامج محاسبي متكامل لجميع الأنشطه التجاريه </h1>
        <ul class="title_info">
          <li>
            <h2 appCounter [startCount]="0" [targetCount]="1453" [duration]="1000">1453</h2>
            <div class="blue_border"></div>
            <h2>العملاء</h2>
          </li>
          <li>
            <h2 appCounter [startCount]="0" [targetCount]="521" [duration]="1000">521</h2>
            <div class="blue_border"></div>
            <h2>المشاريع</h2>
          </li>
          <li>
            <h2 appCounter [startCount]="0" [targetCount]="232" [duration]="1000">232</h2>
            <div class="blue_border"></div>
            <h2>الدعم</h2>
          </li>
          <li>
            <h2 appCounter [startCount]="0" [targetCount]="32" [duration]="1000">32</h2>
            <div class="blue_border"></div>
            <h2>فريق العمل</h2>
          </li>
        </ul>
    </diV>
</div>

<div class="content">
  <div class="section fade-in" >
    <h1 class="head_title">مؤسسة ماجد سوفت لتقنية نظم المعلومات</h1>
    <div class="cards">
      <div class="col-sm-12 col-md fade-in">
        <app-card class="w-100 d-block"
        [icon]="'bi-calculator'" 
        [title]="'تصميم البرامج المحاسبيه'" 
        [describtion]="'تنفيذ البرامج المحاسبيه والتجاريه للمؤسسات والشركات علي قواعد بيانات عملاقه تعتمد علي المرونه والسهوله والجوده العاليه'">
        </app-card>
  
      </div>

      <div class="col-sm-12 col-md fade-in">
        <app-card class="w-100 d-block"
        [icon]="'bi-display'" 
        [title]="'تصميم برامج سطح المكتب'" 
        [describtion]="'تصميم وبرمجه برامج سطح المكتب وتوفير قواعد بيانات عملاقه تعتمد علي المرونه الوجوده العاليه في الحمايه الكامله وتوفير الدعم الفني اللازم للعميل'">
        </app-card>
  
      </div>
      
      <div class="col-sm-12 col-md fade-in">
        <app-card class="w-100 d-block"
        [icon]="'bi-code-slash'" 
        [title]="'تصميم وبرمجه المواقع'" 
        [describtion]="'تصميم وبرمجه المواقع الالكترونيه بنظام الريسبونسيف ديزاين بأحدق أساليب التصميم العالميه واللغات المتطوره'">
        </app-card>
  
      </div>
    </div>
  </div>

   <div class="section fade-in" id="about">
    <app-divided-section>
      <div class="main_parag" right_section>
        <h1 class="section_title white">نبذة عن المؤسسة</h1>
        <p class="section_desc white">
          مؤسسة  ماجد سوفت لتقنية نظم المعلومات هي مؤسسة توفر لك مجموعة متكاملة من الحلول لإدارة وتخطيط الموارد الخاصة بشركتك وأعمالك المهنية بما فيها الإدارة المالية والقانونية والموارد البشرية والموازنات والمبيعات والكاشير وغيرها الكثير من الأدوات التي تنظم التقارير وتسهل عليك المهام وتتيح لك مؤسسة الذكي الصغير لتقنية نظم المعلومات قواعد بيانات واسعة ومعالجات سريعة بكل دقة واحترافية بالإضــافة إلي معمل لإنتاج البرامج لتلبي كافة متطلبات الأفراد والشركات والمؤسسات الحكومية والخاصة في مجال تقنية المعلومات ولتقدم حلول برمجية متميزة ذات جودة عالية ونوعية متفوقة.
        </p>
        <ul class="options">
          <li class="item white">
            <i class="fa-solid fa-industry"></i>
            <span>برامج المخازن والمحاسبه والمصانع </span>
          </li>
          <li class="item white">
            <i class="fa-solid fa-globe"></i>
            <span>تصميم المواقع الإلكترونيه  </span>
          </li>
          <li class="item white">
            <i class="fa-solid fa-mobile-screen"></i>
            <span>تصميم برامج الجوال  </span>
          </li>
          <li class="item white">
            <i class="fa-solid fa-desktop"></i>
            <span> البرامج التجاريه </span>
          </li>
        </ul>
      </div>
      
      <div left_section>
        <img src="assets/images/main_section.svg" class="section_img" />
      </div>
    </app-divided-section>
   </div>

  <div class="section fade-in" id="services">
      <div class="d-flex flex-column gap-3 align-items-center fade-in">
        <h1 class="main_section_title"> خدماتنا </h1>
        <p class="head_desc">خذ عملك إلى المستوى التالي</p>
    </div>
      <app-services></app-services>
  </div>

 <img src="assets/images/bg1.jpg" class="img fade-in">

 <div class="section fade-in" id="programs">
  <div class="d-flex flex-column gap-3 align-items-center">
    <h1 class="main_section_title"> برامجنا </h1>
  </div>
  <app-programs></app-programs>
  </div>

  <div class="contact-us fade-in" id="contact">
    <app-contact-us></app-contact-us>
  </div>

</div>