.main_img {
    width: 100%;
    height: 60vw;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 10vw 0px;
}
.black_gradient {
    position: absolute;
    opacity: 0.4;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}
.main_img img {
    transform: scaleX(-1);
}
.main_text {
    position: absolute;
    top: 50%;
    width: 70%;
    left: 0%;
    transform: translate(28%, -50%);
    color: white;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 4vw, 70px);
}
.main_title {
    font-size:clamp(10px , 5vw, 100px) ;
    font-weight: bold;
    margin-bottom: 1vw;

}
.title_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.title_info li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    justify-content: center;
    color: #fff;
}
.title_info li h2 {
    font-size: clamp(18px, 2vw, 70px);
}
.blue_border {
    height: 3px;
    background-color: var(--primary-color);
    width: 80%;
    border-radius: 3px;
}


.head_title {
    font-size: 40px;
    line-height: 1.3em;
    text-align: center;
    width: 50%;
    margin: auto;
    min-width: 200px;
    font-weight: 600;
}
.cards {
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.cards > div > *{
    width:100%;
    height:100%;
}
.main_parag {
    background-color: var(--primary-color);
    color: white;
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.section_img {
    height: 25vw !important;
    min-height: 430px;
    max-height: 500px;
    width: 100%;
}
.options {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.options .item {
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 600;
}
.item i {
    width: 25px;
    text-align: center;
    font-size: 22px;
}
.item *  {
    color: #fff;
}
.head_desc {
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 600;
    text-align: center;
}
