body {
    min-width: 370px;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    direction: rtl;
    max-width: 3000px;
    margin: auto;
}
@font-face {
    font-family: 'Tajawal';
    src: url('../src/assets/fonts/Tajawal-Regular.ttf');
    }
* {
    /* line-height: 22px; */
    color: var(--black);
    font-family: 'Tajawal';
}
@media (max-width: 575.98px) {
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
 
 }
 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, label , .form-label , .form-check , .container-fluid , .row , ul { 
    margin: 0px;
    padding: 0px;
 }
 ul {
    list-style-position: inside;
  }
:root {
    --primary-color: #3b4fe4;
    --gray: #b8b6b6cb;
    --black: #1a1a1a;
    --blur_primary_color: #3b4fe4c2;
    --success-color: #28a745;
    --fail-color: red;
}
/* colors */
.white {
    color: #fff !important;
}
.default_padding {
    padding-left: 8vw !important;
    padding-right: 8vw !important;
}

/* buttons */
.btn {
    padding: 8px;
    font-weight: 500;
}
.primary_btn {
    box-shadow: 0px 12px 24px -8px rgba(59, 79, 228, 0.4);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
}
.primary_btn:hover {
    border-color: var(--blur_primary_color) !important;
    background-color: var(--blur_primary_color) !important;
    color: #fff !important;
}
.primary_btn:active {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
/* image style */
.height-img {
    height: 100%;
    max-width: 100%;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* input style */
input {
    min-height: 43px;
}
/* error style */
.invalid-feedback {
    color: var(--fail-color);
    display: block;
  }
  
  .is-valid {
    border-color: var(--suucess-color) !important;
  }
  
  .is-invalid {
    border-width: 1px;
    border-color: var(--fail-color) !important;
  }
  .was-validated .form-control:valid, .form-control.is-valid , .was-validated .form-control:invalid, .form-control.is-invalid{
    background-image: unset !important;
  }
/* pages style*/
.content {
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 6vw, 100px);
    padding-top: clamp(20px, 5vw,100px);
    padding-bottom: clamp(20px, 5vw,100px);

}
.section_title {
    font-size: 2rem;
    font-weight: 600;
}
.section {
    display: flex;
    flex-direction: column;
    gap: clamp( 20px,4vw,60px);
    padding-left: clamp(20px, 8vw, 200px);
    padding-right: clamp(20px, 8vw, 200px);
}
.main_section_title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
    position: relative;
    padding: 0px 55px;
}
.main_section_title::before {
    content: ' ';
    border: 1px solid var(--primary-color);
    position: absolute;
    width: 44px;
    top: 50%;
    right: 0px;
    transform: translate(0%,-50%);
 }
 .main_section_title::after {
    content: ' ';
    border: 1px solid var(--primary-color);
    position: absolute;
    width: 44px;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
 }
.section_desc {
    font-size: 1.2rem;
    line-height: 24px;
    font-weight: 400;
}

.card {
    border-radius: 6px;
    box-shadow: 0px 40px 120px -40px rgba(0, 0, 0, 0.24);
    padding: 32px 24px;
    display: flex;
    align-items: start;
    border:0px;
    gap: 15px;
    height: 100%;
    border-radius: 15px;
}


@media screen and (min-width: 930px) {
    .card {
        width: calc((100% - ( 20px * 2 ) ) / 3);
    }
}
@media screen and (min-width: 930px) {
    .card {
        width: calc((100% - ( 20px * 2 ) ) / 3);
    }
}
@media screen and (max-width:930px) {
    .card {
        width: calc((100% - ( 20px * 1 ) ) / 2);
    }
}
@media screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
}